@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
	color-scheme: dark;
}

html {
	scroll-behavior: smooth;
}

@keyframes pulseSlow {
	0%,
	100% {
		opacity: 0.3;
	}
	50% {
		opacity: 0.6;
	}
}
.animate-pulse-slow {
	animation: pulseSlow 8s ease-in-out infinite;
}
